* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Verdana";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1317px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 170px;
  background-image: url("./images/banner1.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

.top-wrapper h {
  opacity: 10;
  font-size: 40px;
  margin-top: 300px;
  margin-bottom: 50px;
  color: #f7f7f7;
}

.top-wrapper p {
  opacity: 10;
  font-size: 20px;
  margin-top: 75px;
  margin-bottom: 150px;
  color: #f7f7f7;
}

.jelajah {
  background-color: #f54b3f;
}

.btn {
  padding: 16px 30px;
  color: rgb(226, 213, 213);
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 80px;
  width: 100%;
  background-color: rgba(0, 192, 226, 0.7);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 180px;
  margin-top: 15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -5px;
}

.header-right a {
  font-size: 20px;
  line-height: 70px;
  padding: 0 34px 12px 34px;
  color: rgb(2, 42, 75);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*-- bagian destinasi --*/
.destinasi-wrapper {
  height: 830px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading-destinasi {
  padding-top: 36px;
  padding-bottom: 350px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.slideshow {
  width: 1000px;
  height: 600px;
  overflow: hidden;
}

.now {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.bar {
  width: 50px;
  height: 10px;
  border: 3px solid #ff9e02;
  margin: 6px;
  cursor: pointer;
}
.bar:hover {
  background-color: #ff9e02;
}
input[name="radio"] {
  position: absolute;
  visibility: hidden;
}

.slider {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#radio1:checked ~ .sh1 {
  margin-left: 0;
}
#radio2:checked ~ .sh1 {
  margin-left: -20%;
}
#radio3:checked ~ .sh1 {
  margin-left: -40%;
}
#radio4:checked ~ .sh1 {
  margin-left: -60%;
}
#radio5:checked ~ .sh1 {
  margin-left: -80%;
}

/*--bagian penginapan--*/
.penginapan {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

h1 {
  font-size: 36px;
  font-weight: 600px;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  text-align: center;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.penginapan-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.penginapan-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/*-- menu-icon smartphone --*/
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

/*--bagian foto-penginapan--*/
.foto-penginapan {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.foto-penginapan-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.foto-penginapan-col img {
  width: 100%;
  display: block;
}

.layer-penginapan {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer-penginapan:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer-penginapan h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: 0.5s;
}

.layer-penginapan:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*--bagian footer--*/
.footer {
  padding-bottom: 25px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(0, 192, 226, 0.7);
  text-align: center;
}

.isi-footer p {
  line-height: 80px;
  color: #043a8b;
  font-size: 25px;
}

.isi-footer li {
  text-align: center;
  color: #043a8b;
}
